<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
                       <div class="row mt-lg-4 bottom-w3layouts-sec-nav mx-0">
                                <ul class="list-unstyled w3layouts-icons">
                                    <li>
                                        <a href="{% url 'uakinotv:first_page' %}" class="editContent" >Головна</a>
                                    </li>
                                </ul>
                            <div class="col-md-4 footer-grid_section_w3layouts">
                                <h3 class="footer-title text-uppercase editContent mb-lg-4 mb-3" >Контактна інформація</h3>
                            </div>
                            <div class="col-md-4 footer-grid_section_w3layouts">
                            </div>
                            <div class="col-md-4 footer-grid_section_w3layouts my-md-0 my-5">
                                <h4 class="footer-title text-uppercase text-wh mb-lg-4 mb-3 editContent" >Тел: 093 206 8641</h4>
                                <div class="contact-info">
                                    <div class="footer-address-inf my-4">
                                        <h4 class="ad-info mb-2 editContent" >Email </h4>
                                        <p class="editContent" ><a href="mailto:shkinder29@gmail.com">shkinder29@gmail.com</a></p>
                                    </div>
                                    <div class="footer-address-inf">
                                        <h4 class="ad-info mb-2 editContent" >Розташування</h4>
                                        <p class="editContent" >м.Вараш Рівненська обл</p>
                                    </div>
                                </div>
                            </div>
                        </div>
</body>
</html>