<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <!-- //Meta tag Keywords -->
    <!-- Custom-Files -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <!-- Bootstrap-Core-CSS -->
    <!--/ Style-CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css" media="all">
    <!--// Style-CSS -->
    <!-- font-awesome-icons -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <!-- //font-awesome-icons -->
  <!-- /Fonts -->
    <link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900" rel="stylesheet">
    <!-- //Fonts -->
</head>

<body>
    <div id="page" class="page"><!-- mian-content -->
            <!-- header -->
                        <ul class="menu mt-2">
                            <li class="active"><a href="{% url 'uakinotv:first_page' %}">Головна</a></li>
                            <li>
                                <!-- First Tier Drop Down -->
                                <label  class="toggle">Категорії <span class="fa fa-angle-down" aria-hidden="true" ></span> </label>
                                <ul>
                                    {% for category in categories %}
                                    <li><a href="{% url 'uakinotv:category' category.id %}">{{category.name}}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <!-- //nav -->
                </div>
            </header>
            <!-- //header -->
            <!--/banner-->
            <div class="banner-info">
                <p class="editContent" >Made in Ukraine </p>
                <h3 class="mb-4 editContent">Все про кіно українського виробництва</h3>
                <div class="ban-buttons">


                </div>
            </div>
            <!--// banner-inner -->

        </div>
        <!--//main-content-->
        <!---->
        <ol class="breadcrumb editContent">
            <li class="breadcrumb-item">
                <a href="{% url 'uakinotv:first_page' %}" class="editContent">Домашня</a>
            </li>
            <li class="breadcrumb-item active editContent">Повернутись на домашню сторінку</li>
        </ol>
        <!---->
        <!-- banner -->
        <section class="ab-info-main py-md-5 py-4 editContent" style="padding-left: 3rem; padding-right: 3rem;">
            <div class="container-fluid py-md-3">
                <div class="row">
                    <div class="side-bar col-lg-3">

                        <div class="search-bar w3layouts-newsletter">
                            <h3 class="sear-head editContent" >Пошук фільму</h3>
                            <form action="." method="get" class="d-flex editContent" >
                                <input type="search" placeholder="Введіть назву..." name="sea" class="form-control" required="">
                                <button type="submit" class="btn1 btn" ><span class="fa fa-search" aria-hidden="true" ></span></button>
                            </form>
                        </div>
                        <!--preference -->
                        <form action="" method="get" name="filter2">
                        <div class="left-side my-4">
                            <h3 class="sear-head editContent" >Жанри</h3>
                            <ul class="w3layouts-box-list">
                                {% for genre in genres %}
                                <li class="editContent" >
                                    <input type="checkbox" class="checked" name="genre" value="{{ genre.name }}">
                                    <span class="span editContent" > {{ genre.name }} </span>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <button type= "submit">Пошук</button>
                        </form>
                        <!-- // preference -->
                        <!-- discounts -->
                        <form action="." method="get" name="filter1">
                            <div class="left-side">
                                <h3 class="sear-head editContent" >Рік</h3>
                                <ul class="w3layouts-box-list">
                                    {% for year in years %}
                                    <li class="editContent" >
                                        <input type="checkbox" class="checked" name="year" value="{{ year.year }}">
                                        <span class="span editContent" >{{ year.year }}</span>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <button type= "submit">Пошук</button>
                        </form>
                        <!-- //discounts -->
                        <!-- reviews -->
                        <div class="customer-rev left-side my-4">
                        </div>
                    </div>
                    <!-- //product left -->
                    <!-- product right -->
                    <div class="left-ads-display col-lg-9">
                        <div class="row">
                            {% for film in film_list %}
                            <div class="col-md-4 product-men">
                                <div class="product-shoe-info editContent text-center mt-lg-4" >
                                    <div class="men-thumb-item">
                                        <img src="{{film.picture.url}}" class="img-fluid" alt="" >
                                    </div>
                                    <div class="item-info-product">
                                        <h4 class="">
                                            <a href="{% url 'uakinotv:detail' film.id %}"
                                               class="editContent" >{{ film.title}}</a>
                                        </h4>
                                        <div class="product_price">
                                            <div class="grid-price">
                                                <span class="money editContent" >{{ film.year}}</span>
                                            </div>
                                        </div>
<!--                                        {% for vote in votes %}-->
<!--                                             <div class="product_price" style="display: inline-block;">-->
<!--                                                <div class="grid-price">-->
<!--                                                <span class="money editContent" >{{ vote.mark}}</span>-->
<!--                                            </div>-->
<!--                                         </div>-->
<!--                                        {% endfor %}-->
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <!--<div class="grid-img-right mt-4 text-right bg bg1" >
                            <span class="money editContent" >Flat 50% Off</span>
                            <a href="film_detail.html" class="btn" >Now</a>
                        </div>-->
                    </div>
                </div>
            </div>
        </section>
        <!-- //contact -->
        <!-- footer -->
        <footer class="editContent">
            <div class="container">
                <div class="row footer-top">
                    <div class="col-lg-4 footer-grid_section_w3layouts">
                        <h2 class="logo-2 mb-lg-4 mb-3">
                            <a href="{% url 'uakinotv:contacts' %}" class="editContent">
                                <span class="fa" aria-hidden="true" >
                                    Контакти
                                </span>
                            </a>
                        </h2>
                        <p class="editContent" >
                            Дякуємо за користування нашим сайтом
                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- //footer -->
        </div></div>
</body>
</html>